*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
header{

  top: 0;
  height: 100px;
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  
}

.header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color:#004aad;
  font-style:normal;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-transform: uppercase;

    
 }

 .nombre_logo{
  font-size: 10px;
 }
 .logo{
  border-radius: 50%;
 }

 .redes{
  order: 1;
  margin: 30px;
 }
 .header h1{
  font-family:Arial, Helvetica, sans-serif
  font-weight: bold;
 }

body{
  background-color:rgb(20, 20, 20);

}
.cuerpo{
  background-color: rgb(20, 20, 20);
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
}
.texto{
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
}


.imagenes{
  border-radius: 50%;
  padding: 20px;
}
.titulo{
  text-align: center;
  text-transform: uppercase;
  }

  /* Menu Desplegable*/


.navegacion{
 
  display: flex;
  flex-direction: row;
  background: #004aad;
  justify-content: center;
  text-transform: uppercase;
  font-weight:bold;
  width: 1378px;
  
}

.navegacion ul{
  list-style: none;
}


.menu > li{
  position: relative;
  display: inline-block;
  align-items: center;
  
}

.menu > li > a{
  display: block;
  padding: 15px 20px;
  color:rgb(240, 254, 255) ;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li a:hover{
  color: rgb(192, 45, 45);
  transition: all .3s;
}

/* Submenu*/

.submenu{
  padding: 10px;
  position: absolute;
  background: #004aad;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  color: white;
  text-align: center;
  
}

.submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.boton{
margin-left: auto;
margin-right: auto;
width: 200px;
height: 50px;
margin-bottom: 25px;
text-align: center;
text-decoration: none;

}
.boton_turnero{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #8eb6eb;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.boton_turnero:hover{
color: #1883ba;
background-color: #ffffff;
border: 2px solid #8eb6eb;
}



.footer{
  background-color:#004aad;
  font-style:normal;
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
position: relative;
 width: 100%;
height: 100%;
text-align: center;
align-items:flex-start;

}

.footer_titulo{
  font-size: 15px;
}
.titulosh4{

  text-decoration:underline;
  text-align: left;
  font-size: 17px;
  padding: 10px;
}


/* GRIDS */
.container {  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "sobrenosotrosok sobrenosotrosok"
    "misionok visionok"
    "valoresok valoresok";
}

.container{

  text-align: center;
  align-items:center;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.sobrenosotrosok { grid-area: sobrenosotrosok; }

.misionok { grid-area: misionok; }

.visionok { grid-area: visionok; }

.valoresok { grid-area: valoresok; }


header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

nav {
  grid-area: nav;
}
article{
grid-area: article;
}

#main{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 15% 10% auto auto;
column-gap: 10px;
row-gap: 0px;
grid-template-areas: "header header" "section section" "footer footer";
}

section{

display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto auto;
column-gap: 15px;
row-gap: 15px;
justify-items: center;
align-items: flex-start;
justify-content: center;
align-content: flex-start;
height: 100%;
width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 3; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 3 / 1 / 4 / 3; }




/* RESPONSIVE */

@media screen and (min-width: 320px) {
#main{
  width: 100%;
    grid-template-columns: auto ;
    grid-template-rows: 15% auto 15%;
    grid-template-areas: "header" "section" "footer";
}
section{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;   
    width: 100%;
    
}

.navegacion{
  
  width: 100%;
  font-size: small;
  display: flex;
  text-align: center;  
  flex-direction: row;  
  align-items:center;
  }
.header{
  width: 100%;
  font-size: small;
    }

    .container { 
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: space-between;
    }
    .parent {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      width: 100%;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      }
.footer{
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items:center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.redes{
  display: none;
}

.nombre_logo{
display: none;
}

}

@media screen and (min-width: 1200px) {
#main{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: 15% 10% auto auto;
    column-gap: 10px;
    grid-template-areas: "header header" "section section" "footer footer";
    column-gap: 15px;
}

section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    justify-content: center;
    align-content: flex-start;
}
.nombre_logo{
  display:block;
}
.redes{
  display: block;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items:flex-start;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.parent {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
}

/*menu desplegable*/
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color:white;
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%20, 50, 50, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(223, 14, 14, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
#navbarNavDropdown{
  background-color: #004aad;
  color: white;

}
.navbar{
  background-color: #004aad !important;
  align-content: center;
  padding-left: 30% !important;
}
.navbar-brand{
  background-color: #004aad;
  align-content: center;
}
.bi-facebook{
  font-size: 2rem;
  }
  .bi-instagram{
    font-size: 2rem;
  }

  .logo{
    height: 100%;
    
  }
/* Animacion */
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);



	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;


	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}