*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color:rgb(20, 20, 20);

}
header{
top: 0;
height: 100%;
width:100%;
padding-right: 15px;
padding-left: 15px;
padding-top: 20px;
text-align: center;
background-color: #004aad

}

.navbar {
--bs-navbar-padding-x: 0;
--bs-navbar-padding-y: 0.5rem;
--bs-navbar-color:white;
--bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
--bs-navbar-disabled-color: white;
--bs-navbar-active-color: white;
--bs-navbar-brand-padding-y: 0.3125rem;
--bs-navbar-brand-margin-end: 1rem;
--bs-navbar-brand-font-size: 1.25rem;
--bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
--bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
--bs-navbar-nav-link-padding-x: 0.5rem;
--bs-navbar-toggler-padding-y: 0.25rem;
--bs-navbar-toggler-padding-x: 0.75rem;
--bs-navbar-toggler-font-size: 1.25rem;
--bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%20, 50, 50, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
--bs-navbar-toggler-border-color: rgba(223, 14, 14, 0.1);
--bs-navbar-toggler-border-radius: 0.375rem;
--bs-navbar-toggler-focus-width: 0.25rem;
--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
h2{
color: white;
}
.footer{
background-color:#004aad;
font-style:normal;
font-weight: bold;
color: white;
font-size: 15px;
padding-right: 15px;
padding-left: 15px;
padding-top: 20px;
position: relative;
width: 100%;
height: 100%;
text-align: center;
align-items:flex-start;

}

.footer_titulo{
font-size: 15px;
}
.bi-facebook{
font-size: 2rem;
}
.bi-instagram{
  font-size: 2rem;
}
.navbar{
background-color: #004aad !important;
align-content: center;
padding-left: 30% !important;


}
.navbar-brand{
background-color: #004aad;
align-content: center;
}
nav{
background-color: #004aad

.header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color:#004aad;
  font-style:normal;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-transform: uppercase; 
 }



 .nombre_logo{
  font-size: 10px;
 }
 .logo{
  border-radius: 50%;
 }

 
 .header h1{
  font-family:Arial, Helvetica, sans-serif
  font-weight: bold;
 }

body{
  background-color:rgb(20, 20, 20);
  color: white;

}
.cuerpo{
  background-color: rgb(20, 20, 20);
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
}
.texto{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
  
}

.imagenes{
  border-radius: 50%;
  padding: 20px;
}
.titulo{
  text-align: center;
  text-transform: uppercase;
  }


.footer{
  background-color:#004aad;
  font-style:normal;
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
position: relative;
 width: 100%;
height: 100%;
text-align: center;
align-items:flex-start;

}

.footer_titulo{
  font-size: 15px;
}


body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.subtitulos {
animation-duration: 3s;
animation-name: slidein;
}

@keyframes slidein {
from {
  margin-left: 100%;
  width: 300%
}

to {
  margin-left: 0%;
  width: 100%;
}
}